<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Foundation/NSArray</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSCache</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSCalendar</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSData</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSDate</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSDateComponents</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSDictionary</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSEnumerator</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSException</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSFileSecurity</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSInputStream</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSInvocation</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSLocale</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSMachPort</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSMethodSignature</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSMutableArray</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSMutableData</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSMutableDictionary</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSMutableOrderedSet</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSMutableSet</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSNull</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSOrderedSet</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSOutputStream</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSPort</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSRunLoop</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSSet</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSStream</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSTimeZone</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSTimer</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSURL</key>
	<string>CoreFoundation</string>
	<key>Foundation/NSUserDefaults</key>
	<string>CoreFoundation</string>

	<key>Foundation/NSCachedURLResponse</key>
	<string>CFNetwork</string>
	<key>Foundation/NSHTTPCookie</key>
	<string>CFNetwork</string>
	<key>Foundation/NSHTTPCookieStorage</key>
	<string>CFNetwork</string>
	<key>Foundation/NSHTTPURLResponse</key>
	<string>CFNetwork</string>
	<key>Foundation/NSMutableURLRequest</key>
	<string>CFNetwork</string>
	<key>Foundation/NSNetService</key>
	<string>CFNetwork</string>
	<key>Foundation/NSNetServiceBrowser</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLAuthenticationChallenge</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLCache</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLConnection</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLCredential</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLCredentialStorage</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLProtectionSpace</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLProtocol</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLRequest</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLResponse</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSession</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSessionConfiguration</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSessionDataTask</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSessionDownloadTask</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSessionStreamTask</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSessionTask</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSessionTaskMetrics</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSessionTaskTransactionMetrics</key>
	<string>CFNetwork</string>
	<key>Foundation/NSURLSessionUploadTask</key>
	<string>CFNetwork</string>

	<key>JavaScriptCore/MyClass</key>
	<string>-</string>
	<key>UIKit/NSFileProviderExtension</key>
	<string>FileProvider</string>
</dict>
</plist>
