.theos/
packages/
.DS_Store
*.o
a.out
*.dSYM
__pycache__/
tmp/
Generator/GenerateShimAPI/GenerateShimObjC
Generator/GenerateShimAPI/GenerateShimOpenGLES
Generator/GenerateShimAPI/generated.m
Generator/GenerateMethodSignatures/GenerateMethodSignatures
/GuestFrameworks/.generated*/
/Resources/RootFS
