Package: com.kdt.liveexec32
Name: LiveExec32
Version: 0.0.1
Architecture: iphoneos-arm
Depends: firmware (>= 15.0), mobilesubstrate
Description: Run 32-bit iOS applications on 64-bit devices.
Maintainer: khanhduytran0
Author: khanhduytran0
Section: System
Tag: role::hacker
