<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>NetworkExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.NetworkExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NetworkExtension</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>com.apple.NetworkExtension.signature</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14G33</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V109d</string>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSExtensionSDK</key>
	<dict>
		<key>com.apple.networkextension.app-proxy</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.networkextension.app-proxy</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>NEExtensionAppProxyProviderContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>NEExtensionAppProxyProviderHostContext</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.networkextension.app-proxy</string>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>RunLoopType</key>
				<string>NSRunLoop</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
				</dict>
				<key>_LaunchWatchdogTimeOut</key>
				<integer>0</integer>
				<key>_MultipleInstances</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.networkextension.filter-control</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.networkextension.filter-control</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>NEFilterControlExtensionProviderContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>NEFilterControlExtensionProviderHostContext</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.networkextension.filter-control</string>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>RunLoopType</key>
				<string>NSRunLoop</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
				</dict>
				<key>_LaunchWatchdogTimeOut</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.networkextension.filter-data</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.networkextension.filter-data</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>NEFilterDataExtensionProviderContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>NEFilterDataExtensionProviderHostContext</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.networkextension.filter-data</string>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>RunLoopType</key>
				<string>NSRunLoop</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
				</dict>
				<key>_LaunchWatchdogTimeOut</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.networkextension.packet-tunnel</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.networkextension.packet-tunnel</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>NEExtensionPacketTunnelProviderContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>NEExtensionPacketTunnelProviderHostContext</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.networkextension.packet-tunnel</string>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>RunLoopType</key>
				<string>NSRunLoop</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
				</dict>
				<key>_LaunchWatchdogTimeOut</key>
				<integer>0</integer>
				<key>_MultipleInstances</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.networkextension.system-app-proxy</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.networkextension.system-app-proxy</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>NEExtensionAppProxyProviderContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>NEExtensionAppProxyProviderHostContext</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.networkextension.system-app-proxy</string>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>RunLoopType</key>
				<string>NSRunLoop</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
				</dict>
				<key>_LaunchWatchdogTimeOut</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>TrustedExecutables</key>
	<array>
		<string>/System/Library/Frameworks/NetworkExtension.framework/PlugIns/NEIKEv2Provider.appex</string>
		<string>/usr/libexec/nesessionmanager</string>
		<string>/usr/libexec/neagent</string>
		<string>/usr/sbin/racoon</string>
		<string>/usr/sbin/pppd</string>
		<string>/System/Library/PreferencePanes/Network.prefPane/Contents/XPCServices/com.apple.preference.network.remoteservice.xpc/Contents/MacOS/com.apple.preference.network.remoteservice</string>
		<string>/System/Library/Frameworks/SystemConfiguration.framework/Versions/A/Helpers/SCHelper</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
